<div class="landing-container">
  <div class="landing">
    <img src="https://placehold.co/300x300" alt="Profile Picture">
    <div class="intro">
      <h2>{{'Pages.Landing.Intro.Heading' | translate}}</h2>
      <p>{{'Pages.Landing.Intro.Text1' | translate}}</p>
      <p>{{'Pages.Landing.Intro.Text2' | translate}}</p>
      <div class="links">
        <a href="#">{{'Pages.Landing.Intro.Links.MoreAboutMe' | translate}}</a>
        <a href="#">{{'Pages.Landing.Intro.Links.Contact' | translate}}</a>
      </div>
    </div>
  </div>
</div>
