<div class="landing-container">
  <div class="landing">
    <img src="https://placehold.co/350x350" alt="Profile Picture">
    <div class="intro">
      <h2>{{'Pages.Landing.Intro.Heading' | translate}}</h2>
      <p>{{'Pages.Landing.Intro.Text1' | translate}}</p>
      <p>{{'Pages.Landing.Intro.Text2' | translate}}</p>
      <ul class="links">
        <li><a href="#">{{'Pages.Landing.Intro.Links.MoreAboutMe' | translate}}</a></li>
        <li><a href="#">{{'Pages.Landing.Intro.Links.Contact' | translate}}</a></li>
      </ul>
    </div>
  </div>
</div>
